.caixa{
    background-color:#3F51B5;
}


.titulo{
    color: white !important;
    font-Weight: bold;
}

.postagens{
    background-color: white !important;
}

.text-decorator-none{
    text-decoration: none;
    border-color: white !important;
    background-color: white !important;
}